@import "palette";
/*
$primary-color-dark:   #C2185B
$primary-color:        #E91E63
$primary-color-light:  #F8BBD0
$primary-color-text:   #FFFFFF
$accent-color:         #FF9800
$primary-text-color:   #212121
$secondary-text-color: #727272
$divider-color:        #B6B6B6
*/

body 
{ 
	margin-top: 60px;
}

.navbar.navbar-inverse {
	background-color: $primary-color-dark;
}

.navbar-inverse {
	border-color: $primary-color-dark;
}

.navbar-header .navbar-brand {
	color: $primary-color-text;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover
{
	background-color: $accent-color;	
	color: $primary-color-text;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover
{
	color: $primary-color-light;
}

.overflowScroll {
	overflow: auto;
}

@import "rawReport";