@import "palette";
/*
$primary-color-dark:  
$primary-color:       
$primary-color-light: 
$primary-color-text:  
$accent-color:        
$primary-text-color:  
$secondary-text-color:
$divider-color:       
*/

body 
{ 
	margin-top: 80px;
	background-color: $primary-color-light;
}

#main-wrapper {
	background-color: white;
	padding-top: 20px;
	border-radius: 5px;
}

.overflowScroll {
	overflow: auto;
}

/*
@import "navBar";
*/

@import "reportNav";
@import "rawReport";

.tableHeader th {
	background-color: #9e9e9e;
	color: white;
}

.tableSubHeader th {
	background-color: #eeeeee;
}