.navbar.navbar-inverse {
	background-color: $primary-color-dark;
}

.navbar-inverse {
	border-color: $primary-color-dark;
}

.navbar-header .navbar-brand {
	color: $primary-color-text;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover
{
	background-color: $accent-color;	
	color: $primary-color-text;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover
{
	color: $primary-color-light;
}